$primary-color: #5932EA;
$sidebar-pale-color: #9197B3;

$table-tems-color: #292D32;
$table-secondary-color: #16C098;
$table-pale-color: #B5B7C0;

$inactive-bg: #FFC5C5;
$inactive-color: #DF0404;



$ff-main: "Poppins", sans-serif;

$md1: 1140px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 420px;

