section.sidebar
    .sidebar__logo
        .icon-setting-1
        .sidebar__text Dashboard
            span.sidebar__version v.01
    ul.sidebar__items
        li.sidebar__item 
            .item-content
                .icon-icon-_-24-_-outline-_-key-square.item-icon
                a.item-text Dashboard
        li.sidebar__item 
            .item-content
                .icon-d-square-1.item-icon
                a.item-text Product
            .icon-chevron-right-2
        li.sidebar__item 
            .item-content
                .icon-user-square-1.item-icon
                a.item-text Customers
            .icon-chevron-right-2
        li.sidebar__item 
            .item-content
                .icon-wallet-money-2.item-icon
                a.item-text Income
            .icon-chevron-right-2
        li.sidebar__item 
            .item-content
                .icon-discount-shape-1.item-icon
                a.item-text Promote 
            .icon-chevron-right-2
        li.sidebar__item 
            .item-content
                .icon-message-question-1.item-icon
                a.item-text Help
            .icon-chevron-right-2
    .sidebar__profile
        .profile__logo: img(src="./profile-sidevar.webp", alt="")
        .profile__text
            .profile__name Evano
            .profile__job Project Manager


